body {
  background-color: gainsboro;
}
.container {
  /* max-width: 1024px; */
  height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}
.box {
  width: 300px;
  height: 300px;
  background-color: #000;
  position: static;
}
.relative {
  /* background-color: green; */
  position: relative;
  /* top: -10px;
  left: 10px; */
}
.fixed {
  background-color: blue;
  position: fixed;
}
.sticky {
  background-color: chocolate;
}

.box1 {
  height: 200px;
  width: 200px;
  top: 0;
  left: 0;
  background-color: red;
  position: absolute;
}

.box2 {
  height: 200px;
  width: 200px;
  bottom: 0;
  background-color: blue;
  position: absolute;
}

.box3 {
  height: 200px;
  width: 200px;
  bottom: 0;
  right: 0;
  background-color: red;
  position: absolute;
}

.box4 {
  height: 200px;
  width: 200px;
  right: 0;
  top: 0;
  background-color: blue;
  position: absolute;
}

.box5 {
  height: 200px;
  width: 200px;
  top: 50%;
  margin: -100px 0 0 -100px;
  /* bottom: 30%; */
  left: 50%;
  /* right: 40%; */
  background-color: blue;
  position: absolute;
}
